/**/
*{
    margin: 0;
    box-sizing: border-box;
}
body{
    color: white;
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(36,36,36,1) 50%, rgba(0,0,0,1) 100%);
}
main{

}
.button{
    padding: 100px;
}